[submodule "mbed-src"]
	path = mbed-src
	url = https://janekm@github.com/mbedmicro/mbed.git
[submodule "nRF51822"]
	path = nRF51822
	url = https://janekm@github.com/janekm/nRF51822.git
[submodule "BLE_API"]
	path = BLE_API
	url = https://janekm@github.com/janekm/BLE-API.git
